* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(3, 6, 43);
    color: white;
    border: double;
    border-radius: 10%;
    border-color: green;
    margin: 1% 5%;
    overflow-x: hidden;
    padding: 2%;
}

a {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.title{
    margin-top: 2%;
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    border: double;
    border-color: green;
    border-radius: 10%;
    padding-top: 1.7rem;
}

.list {
    font-size: 1rem;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.gameinfo {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#game {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#board {
    width: 300px;
    height: 300px;
    border: double;
    border-color: green;
    border-radius: 10%;
}

table {
    width: 300px;
    height: 300px;
    font-size: 60px;
    text-align: center;
}

tr {
    padding: 20%;
}

#td1, #td2, #td4, #td5, #td7, #td8{
    border-right: 2px double green;
}

#td1, #td2, #td3, #td4, #td5, #td6{
    border-bottom: 2px double green;
}