* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 11, 49);
    color: white;
}

a {
    color: white;
}

.logo, h1{
    margin-left: 40%;
    margin-top: 10%;
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    border: solid;
    border-color: green;
}

.list {
    font-size: 1rem;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.list-title {
    font-style: normal;
}