* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 11, 49);
    color: white;
    border: double;
    border-radius: 5%;
    margin: 1% 5%;
}

a {
    color: white;
    font-style: normal;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.title{
    margin-top: 2%;
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    border: 1px solid;
    border-color: green;
    border-radius: 5%;
}

.list {
    font-size: 1rem;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem {
    display: flex ;
    justify-content: center;
    margin-bottom: 10%;
}

.gameinfo {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}